body {
	background: white;
	margin: 10px 0 0 10px;
	padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px 10px 0;
  padding: 0;
  float: left;
  display: block;
  width: 80px;
  height: 80px;
}

li img {
  width: 80px;
  height: 80px;
}